* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 70px;
  background-color: white;
}
.header {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo1 {
  margin-right: 360px;
}
.link1 {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 14px;
  margin-left: 45px;
}
.link2 {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 14px;
  margin-left: 360px;
}
.button1 {
  width: 90px;
  height: 35px;
  background-color: rgb(0, 105, 112);
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: 25px;
}
.section1 {
  width: 100%;
  height: 620px;
  background-image: url("./images3/bg-img2.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.container1 {
  width: 90%;
  height: 100%;
  margin: auto;
  position: relative;
}
.div1 {
  position: absolute;
  left: 0;
  top: 190px;
}
.title1 {
  font-size: 48px;
  color: white;
  line-height: 58px;
  padding-bottom: 20px;
}
.parag1 {
  font-size: 18px;
  color: white;
}
.div2 {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 80px;
  display: flex;
  align-items: center;
}
.div3 {
  width: 25%;
  padding-left: 25px;
  border-right: 1px solid rgb(220, 220, 220);
}
.parag2 {
  font-size: 11px;
  color: rgb(120, 120, 120);
  padding-bottom: 6px;
}
.title2 {
  font-size: 16px;
  color: rgb(0, 105, 112);
}
.button2 {
  width: 220px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: rgb(0, 105, 112);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 25px;
}
.icon-search {
  max-width: 30px;
}
.section2 {
  width: 100%;
  padding: 70px 0;
}
.container2 {
  width: 90%;
  margin: auto;
}
.div4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}
.title3 {
  font-size: 32px;
  color: rgb(0, 105, 112);
  padding-bottom: 8px;
}
.parag3 {
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.link3 {
  text-decoration: none;
  color: rgb(0, 105, 112);
  font-size: 15px;
  font-weight: bold;
}
.left-arrow{
    max-width: 20px;
}
.div5 {
  display: flex;
  justify-content: space-between;
}
.div6 {
  width: 31%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.img1 {
  width: 100%;
  height: 100%;
}
.div7 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
}
.title4 {
  color: white;
  font-size: 24px;
}
.parag4 {
  color: white;
  font-size: 14px;
}
