* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  width: 100%;
  height: 70px;
}
.header {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo1 {
  width: 130px;
  margin-right: 155px;
}
.link1 {
  text-decoration: none;
  color: rgb(35, 53, 76);
  font-size: 19px;
  margin-left: 34px;
}
.section1 {
  width: 100%;
  padding: 35px 0 80px 0;
}
.container1 {
  width: 80%;
  margin: auto;
}
.parag1 {
  font-size: 12px;
  color: rgb(120, 120, 120);
  padding-bottom: 30px;
}
.title1 {
  font-size: 34px;
  color: rgb(35, 53, 76);
  padding-bottom: 35px;
}
.div1 {
  display: flex;
  justify-content: space-between;
}
.div2 {
  width: 48%;
  height: 320px;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.div2 {
  background-color: rgb(55, 184, 111);
}
.div4 {
  width: 48%;
  height: 320px;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: rgb(39, 190, 205);
}
.div3 {
  width: 52%;
  padding: 35px 0 0 30px;
  position: relative;
  z-index: 2;
}
.title2 {
  font-size: 26px;
  color: white;
  padding-bottom: 20px;
}
.parag2 {
  font-size: 14px;
  color: white;
  line-height: 21px;
  padding-bottom: 18px;
}
.parag3 {
  font-size: 14px;
  color: white;
  line-height: 20px;
  padding-bottom: 15px;
}
.button1 {
  width: 130px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: rgb(55, 184, 111);
  font-weight: bold;
}
.img1 {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.section2{
  width:100%;
  padding:70px 0;
}
.container2{
  width:80%;
  margin:auto;
}
.title3{
  font-size:34px;
  color:rgb(20, 20, 20);
  padding-bottom:35px;
}
.div5{
  display:flex;
  justify-content:space-between;
}
.div6{
  width:30%;
  background-color:white;
  border-radius:8px;
  padding:35px;
  box-shadow:0px 10px 25px rgba(0,0,0,0.12);
  margin-left: 18px;
}
.div7{
  width:65px;
  height:65px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:25px;
}
.img2{
  width:55px;
}
.parag4{
  font-size:17px;
  line-height:24px;
}
.section3{
  width:100%;
  padding:70px 0;
}
.container3{
  width:80%;
  margin:auto;
}
.title4{
  font-size:30px;
  color:rgb(35, 53, 76);
  padding-bottom:35px;
}
.div8{
  display:flex;
  justify-content:space-between;
}
.div9{
  width:23%;
  border:1px solid rgb(220, 220, 220);
  border-radius:6px;
  padding:25px;
  margin-left: 15px;
}
.div10{
  width:55px;
  height:55px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:15px;
}
.img3{
  width:50px;
}
.title5{
  font-size:23px;
  color: green;
  padding-bottom:15px;
}
.parag5{
  font-size:18px;
  line-height:35px;
}